<div class="game-details-page">
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="game">
    <h5>Report to {{ game.name }}</h5>
    <div class="mb-3">
      <a
        class="btn btn-success mr-1"
        [routerLink]="['new-event']"
        *ngIf="game.gameStatus == 1"
        >Add Event</a
      >
      <button
        *ngIf="game.gameStatus == 0"
        class="btn btn-success mr-1"
        (click)="startGame(game.id)"
      >
        <span
          *ngIf="gameIsUpdating"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Loading...</span>
        Start Game
      </button>
      <button
        *ngIf="game.gameStatus == 1"
        class="btn btn-success"
        (click)="stopGame(game.id)"
      >
        <span
          *ngIf="gameIsUpdating"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Loading...</span>
        Stop Game
      </button>
    </div>

    <div class="mb-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Player</th>
            <th scope="col">Event</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let soccerEvent of soccerEvents">
            <td>{{ soccerEvent.soccerTeamId }}</td>
            <td>{{ soccerEvent.soccerPlayer.name }}</td>
            <td>event</td>
            <td>
              <button class="btn btn-success">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
